<div>

<h1 class="text-center padd">Song Details</h1>

<div>

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Album</th>

        </tr>
        </thead>

        <tbody>
        <tr>

            <td>{{songId}}</td>
            <td>{{songName}}</td>
            <td>{{songAuthor}}</td>
            <td>{{songDuration}}</td>
            <td>{{songDate}}</td>
            <td>{{songAlbum}}</td>

        </tr>
        </tbody>

    </table>
</div>

<div class="float-right">
    <a data-ui-sref="home" class="btn btn-secondary" role="button">Back</a>
</div>

</div>